body
{ background-color: white;
}
.box
{
    background-color:darkslategrey;
    height:400px;
    width:350px;
    border-radius:10px;
    position:relative;
    top:70px;
    left:35%;
}
.display
{
    background-color:#222;
    width:270px;
    position:relative;
    left:20px;
    right: 40px;
    top:20px;
    height:40px;
}
.display input
{
    position:relative;
    left:2px;
    top:2px;
    height:35px;
    width: 270px;
    color:black;
    background-color:palegoldenrod;
    font-size:21px;
    text-align:right;
}

.keys
{
    position:relative;
    top:20px;
}
.button
{
    width:50px;
    height:30px;
    border:none;
    border-radius:8px;
    margin-left:20px;
    cursor:pointer;
    border-top:2px solid transparent;
}
.button.gray
{
    color:white;
    background-color:gray;
    border-bottom:black 2px solid;
    border-top:2px gray solid;
}
.button.chocolate
{
    color:white;
    background-color:sienna;
    border-bottom:black 2px solid;
}
.button.black
{
    color:white;
    background-color:black;
    border-bottom:black 2px solid;
    border-top:2px black solid;
}
.button.orange
{
    color:white;
    background-color:darkorange;
    border-bottom:black 2px solid;
    border-top:2px darkorange solid;
}
.gray:active
{
    border-top:black 2px solid;
    border-bottom:2px gray solid;
}
.chocolate:active
{
    border-top:black 2px solid;
    border-bottom:sienna 2px solid;
}
.black:active
{
    border-top:black 2px solid;
    border-bottom:2px black solid;
}
.orange:active
{
    border-top:black 2px solid;
    border-bottom:2px darkorange solid;
}
p
{
    line-height:10px;
}